frontend/.next
frontend/next-env.d.ts
node_modules

*storybook.log
storybook-static
.claude/settings.local.json

# Storybook
.storybook
**/*.stories.*
src/stories
nul

# Next.js
.next
nul

# Logs
logs.db

.gemini/
gha-creds-*.json

instantclient
